* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: Mulish;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  line-height: 25px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1230px;
  box-sizing: content-box;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  background-color: #323e50;
  color: #fff;
  border-radius: 25px;
  padding: 12px 39px;
}

.block-text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 63px;
}
.block-text__title {
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
.block-text__title:not(:last-child) {
  margin: 0px 0px 40px 0px;
}
.block-text__text:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.colored-text {
  color: white;
  background-color: #817b66;
  border-radius: 0 20px 20px 0;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header__container {
  display: flex;
  min-height: 144px;
  align-items: center;
}
.header__logo {
  color: inherit;
  font-family: Merriweather;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  max-width: 195px;
  margin: 0px 129px 0px 0px;
}
.header__menu {
  flex: 1 1 auto;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
}
.menu__list {
  display: flex;
}
.menu__item:not(:last-child) {
  margin: 0px 69px 0px 0px;
}
.menu__link {
  color: #323e50;
  font-weight: 600;
  letter-spacing: 3%;
}
.menu__link-active {
  color: #817b66;
  font-weight: 800;
}

.intro__container {
  padding: 144px 15px 262px;
  display: flex;
  align-items: center;
  position: relative;
}
.intro__content {
  padding: 141px 0px 0px 0px;
  max-width: 603px;
}
.intro__links {
  padding: 35px 0px 0px 0px;
}
.intro__links > *:not(:last-child) {
  margin: 0px 39px 0px 0px;
}
.intro__link {
  color: #817b66;
  font-weight: 600;
  letter-spacing: 3%;
  border-bottom: 1.5px solid #817b66;
}
.intro__image {
  position: absolute;
  width: 100vw;
  height: 846px;
  right: 497px;
  top: 0;
  transform: translate(100%, 0);
  z-index: -1;
}
.intro__image img {
  border-radius: 0px 0px 0px 100px;
}

.holiday {
  background-color: #f9f9f9;
}
.holiday__container {
  padding: 151px 0;
  display: flex;
  align-items: center;
  position: relative;
}
.holiday__image {
  position: absolute;
  width: 100vw;
  height: 793px;
  left: -425px;
  top: 60px;
  z-index: 0;
}
.holiday__image img {
  border-radius: 0 100px 100px 0;
}
.holiday__content {
  margin: 0px 0px 0px 516px;
}
.holiday__block-text {
  max-width: 685px;
}

.block-text__text-italic-maincolor {
  color: #817b66;
  opacity: 0.9;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 3%;
  font-style: italic;
}

.heritage__container {
  padding: 60px 0;
}
.heritage__block-text {
  max-width: 880px;
  margin: 0px 0px 35px 0px;
}
.heritage__text {
  padding: 49px 49px 49px 500px;
  margin: 0px 0px 0px -500px;
  width: 1456px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 3%;
}

.examples {
  background-color: #f9f9f9;
}
.examples__container {
  padding: 60px 0;
}
.examples__content {
  margin: 0px 0px 60px 0px;
}
.examples__content span {
  display: flex;
  margin: 0 auto;
  background-color: #000;
  width: 285px;
  height: 1px;
}
.examples__content-text {
  text-align: center;
  margin: 0 auto;
  max-width: 890px;
  padding: 25px 0;
  font-size: 25px;
  letter-spacing: 1px;
}
.examples__row {
  display: flex;
  margin: 0px 0px 65px 0px;
}
.examples__text {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example__image {
  position: relative;
}
.example__image:not(:last-child) {
  margin: 0px 49px 0px 0px;
}
.example__image img {
  border-radius: 20px;
}
.example__image-desc {
  border-radius: 20px;
  height: 259px;
  background: linear-gradient(180deg, rgba(238, 238, 238, 0), rgba(107, 109, 112, 0.2) 44.5%, rgba(15, 18, 23, 0.72) 86.5%);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: end;
}
.example__image-desc p {
  color: white;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
  margin: 0px 0px 40px 0px;
}/*# sourceMappingURL=main.css.map */