.holiday {
    background-color: $bg-color;

    &__container {
        padding: 151px 0;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__image {
        position: absolute;
        width: 100vw;
        height: 793px;
        left: -425px;
        top: 60px;
        z-index: 0;
        img {
            border-radius: 0 100px 100px 0;
        }
    }

    &__content {
        margin: 0px 0px 0px 516px;
    }

    &__block-text {
        max-width: 685px;
    }
}
.block-text {
    &__text-italic-maincolor {
        color: $main-color;
        opacity: 0.9;
        font-size: 22px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 3%;
        font-style: italic;
    }
}
