.warmandcold {
    padding: 120px 0 60px;

    &__container {
        display: flex;
        align-items: center;
        gap: 120px;
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__image {
        &:not(:last-child) {
            margin: 0px 0px 40px 0px;
        }
    }

    &__content {
        max-width: 600px;
    }
}
