body {
    font-family: Mulish;
    font-size: 20px;
    color: #000;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1200px + 30px;
    box-sizing: content-box;
    padding: 0 15px;
    margin: 0 auto;
}
.main {
    flex: 1 1 auto;
}
